<a href="https://colab.research.google.com/github/mariaaluiza/formacaoPython/blob/main/Se%C3%A7%C3%A3o_2_Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comentário e Print

In [ ]:
#para comentar apenas 1 linha

In [1]:
#print
print("1","2","3", sep=" - ")

1 - 2 - 3

In [2]:
print("1","2","3", end=" Fim", sep=" ")

1 2 3 Fim

In [4]:
print("Esse é um texto muito grande. \nQuebre a linha")

Esse é um texto muito grande.
Quebre a linha

In [5]:
print("1", "2", "3", sep= "\n")

1
2
3

In [6]:
print("A pontuação foi %s de um total de %s" % ("5", "10"))

A pontuação foi 5 de um total de 10

In [7]:
print("A pontuação foi {} de um total de {}".format("5", "10"))

A pontuação foi 5 de um total de 10

# Variáveis

O tipo das variáveis são implícitos

## Tipos primitivos:
Váriavel vazia vai receber o valor None

variavel = None

integer = 10

float = 10.5

string = "Maça"

boolean = True or False

In [9]:
_numero = 1
Numero = 2
numero = 3
numero123 = 4
NUMERO = 5
print(_numero, Numero, numero, numero123, NUMERO)

1 2 3 4 5

In [10]:
#tipos de variáveis

#Pascal Case
saldoBancario = 10
#Camel Case
SaldoBancario = 100
#Snake Case
saldo_bancario = 1000

# Formatação

In [ ]:
# %s texto
# %d inteiro
# %f real
#todos irão formatar para string

In [11]:
nome = "Maria"
texto_formatado = "O nome dela é %s "% (nome)
print(texto_formatado)

O nome dela é Maria

In [12]:
numero = 10
texto_formatado = "O número é %d "% (numero)
print(texto_formatado)

O número é 10

In [13]:
funcionario = "Jose"
anos_de_casa = 12
salario = 1345.67
texto_formatado = "O salario de %s é %f e ele está conosco há %d anos" % (funcionario, salario, anos_de_casa)
print(texto_formatado)

O salario de Jose é 1345.670000 e ele está conosco há 12 anos

In [14]:
numero_gigante = 1.534534534535345345
print("Numero gigante formatado: %.2f" % (numero_gigante))

Numero gigante formatado: 1.53

In [16]:
valor = True
print("O valor é %s" % (valor))
print("O valor é %d" % (valor))

O valor é True
O valor é 1

In [19]:
decimal = 23.65465
print("A parte inteira é %d" % (decimal))
print("A parte inteira é %.0f" % (decimal))

A parte inteira é 23
A parte inteira é 24

In [21]:
texto="Olá, assim se quebra uma linha,\n\tentendeu? Assim funciona\n\t\tfim"
print(texto)

Olá, assim se quebra uma linha,
	entendeu? Assim funciona
		fim

In [22]:
texto = "Deixa a \'palavra\' entre aspas"
print(texto)

Deixa a 'palavra' entre aspas

In [26]:
dia, mes, ano = 2,7,1981
data = "Eu nasci em %d/%d/%d"%(dia, mes, ano)
print(data)

Eu nasci em 2/7/1981

# Operadores aritméticos

### Ordem de prioridade dos operadores
1º - ** (exponenciação)
2º - *  (multiplicação)
3º - /  (divisão)
4º - %  (resto da divisão)
5º - // (divisão inteira)

se tiver parenteses, resolve o que tá dentro do parenteses primeiro

In [27]:
#apenas a parte inteira
numero = 10 // 3
print(numero)

3

In [28]:
#exponenciação
numero = 2 ** 4
print(numero)

16

In [30]:
#resto
numero = 4 % 3
print(numero)

1

In [34]:
num1 = 10 * 2 + 1
print(num1)
num1 = 10 * (2 + 1)
print(num1)
num2 = 3 * 3 - 9
print(num2)
num2 = 3 * (3 - 9)
print(num2)

21
30
0
-18

In [37]:
a = 1
a = a + 1
print (a)

a = 1
a += 1
print (a)

2
2

In [1]:
ano_nasc= 1981
ano_atual = 2025

idade = ano_atual - ano_nasc
print(idade)

44

In [5]:
var1 = 45
var2 = 485
var3 = 123

varmedia = (var1+var2+var3)/3

print("Media: %.2f" % (varmedia))

Media: 217.67

In [6]:
altura = 1.56
peso = 59

imc = peso / (altura ** 2)

print("IMC = %.2f" % (imc))

IMC = 24.24

In [8]:
from ast import mod
varovos = 47
varpessoas = 4

varquantidade = varovos // varpessoas

print("Cada pessoa vai receber %d ovos" % (varquantidade))

varsobra = varovos % varpessoas

print ("Sobraram %d ovos" % (varsobra))

Cada pessoa vai receber 11 ovos
Sobraram 3 ovos

## Operadores Lógicos
Ordem de prioridade:
not, and, or

In [9]:
resultado1 = True and False
print(resultado1)

False

In [12]:
climabom = False
disposto = True

vou_ao_mercado = climabom and disposto
print("Vou ao mercado? ", vou_ao_mercado)

Vou ao mercado?  False

In [14]:
climabom = False
disposto = True

vou_ao_mercado = climabom or disposto
print("Vou ao mercado? ", vou_ao_mercado)

Vou ao mercado?  True

In [15]:
porta_aberta = True
tem_chave = False

print("Estou trancado? ", not porta_aberta and not tem_chave)

Estou trancado?  False

## Type and Casting

In [17]:
texto = "olá"
numero = 2
decimal = 1.5
booleano = True
print(type(texto))
print(type(numero))
print(type(decimal))
print(type(booleano))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [18]:
texto1 = "2"
texto2 = "1.5"

numero1 = int(texto1)
numero2 = float(texto2)

print(numero1+numero2)

3.5

In [22]:
num = 21.4587
inteira = int(num)
print("A parte inteira de %f é %d" % (num,inteira))

A parte inteira de 21.458700 é 21

In [24]:
texto = "O numero é: "
numero = 10.3
print(texto, str(numero))

O numero é:  10.3

In [25]:
texto = 123
qtd_digitos = len(str(texto))
print("O texto %s tem %d caracteres." % (texto, qtd_digitos))

O texto 123 tem 3 caracteres.

In [26]:
vazio = None
numero1= 15
numero0 = 0
texto = "Texto"
texto_vazio = ""
decimal_zero = 0.0
decimal = 3.5

print("Variável tem valor: ", bool(vazio))
print("Variável tem valor: ", bool(numero1))
print("Variável tem valor: ", bool(numero0))
print("Variável tem valor: ", bool(texto))
print("Variável tem valor: ", bool(texto_vazio))
print("Variável tem valor: ", bool(decimal_zero))
print("Variável tem valor: ", bool(decimal))

Variável tem valor:  False
Variável tem valor:  True
Variável tem valor:  False
Variável tem valor:  True
Variável tem valor:  False
Variável tem valor:  False
Variável tem valor:  True

# Entrada de informações

In [27]:
valor = input()
print(valor)

3
3

In [29]:
entrada_usuario = input("Digite 1 para verdadeiro ou 0 para falso: ")
valor_inteiro = int(entrada_usuario)
valor_logico = bool(valor_inteiro)
print("Você escolheu: %s" % valor_logico)

Digite 1 para verdadeiro ou 0 para falso: 1
Você escolheu: True

## Operadores de atribuição e combinação de operadores lógicos:

In [30]:
numero = 1
numero += 1
print(numero)

2

In [31]:
numero = 10
numero /= 2
print(numero)

5.0

In [32]:
num = 20
booleana = (num == 10)
print(booleana)

False

In [33]:
num = 20
booleana = (num != 10)
print(booleana)

True

In [34]:
num1 = 10
num2 = 20
emaior = num1 > num
print(emaior)

False

In [35]:
num = 11
booleano = num >0 and num<10
print(booleano)

False

In [37]:
num = 10.1
boolean = type(num) == float and (num == 10 or num ==20.2)
print(boolean)

False

# Operadores sobre string

var = "exemplo" -> 7 letras começando no 0
       0123456

In [40]:
var = "exemplo"
print(var[1:3])
print(var[3:])
print(var[:5])

xe
mplo
exemp

In [41]:
texto1 = "ola"
texto2 = ","
texto3 = "tudo bem?"

print(texto1 + texto2 + texto3)

ola,tudo bem?

In [42]:
texto1= "ola"
texto1 += " mundo"
print(texto1)

ola mundo

In [43]:
texto = "teste"
texto_repetido = texto * 3
print(texto_repetido)

testetesteteste

In [46]:
texto = "carro"
print(texto[-4])
print(texto[-4:])
print(texto[:-1])
print(texto[-5:-2])

a
arro
carr
car

In [48]:
texto = "metro"
print(texto[::-1])
print(texto[3::-1])

ortem
rtem

In [50]:
texto = "023"
texto = "1"+ texto[1:]
print(texto)

123

In [51]:
texto = "abcdefg"
texto = texto[:3]+texto[4:]
print(texto)

abcefg

In [52]:
texto1 = "Olá"
texto2 = "Olá"
igual = texto1 == texto2
print(igual)

True

In [53]:
print("a" != "b")

True

In [57]:
texto = "programação"
print("a" in texto)
print("x" in texto)
print("programa" in texto)
print("programa" not in texto)

True
False
True
False

In [58]:
print(len("programação"))

11