<a href="https://colab.research.google.com/github/mariaaluiza/formacaoPython/blob/main/Se%C3%A7%C3%A3o_3_Estruturas_de_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
valor1 = 10
valor2 = 10
if (valor1==valor2):
    print("São iguais")
    print("ainda dentro do if")

São iguais
ainda dentro do if

In [ ]:
nome = input("Digite seu nome:")

possui_vogal = ("a" in nome) or ("e" in nome) or ("i" in nome) or ("o" in nome) or ("u" in nome)

if possui_vogal:
    print("Seu nome possui pelo menos uma vogal")
else:
    print("Seu nome não possui nenhuma vogal")

Digite seu nome:maria
Seu nome possui pelo menos uma vogal

In [ ]:
numero = float(input("Digite um número: "))
if numero < 10:
    print("Menor que 10")
elif numero < 100:
    print("Menor que 100")
elif numero < 1000:
    print("Menor que 1000")
else:
    print("Maior ou igual a 1000")

Digite um número: 10.4
Menor que 100

In [ ]:
iteracao = 10
while (iteracao > 0):
    print(iteracao)
    iteracao -=1

print("Encerrou!")

10
9
8
7
6
5
4
3
2
1
Encerrou!

In [ ]:
texto = "Ola 123 _"
indice = 0
while (indice < len(texto)):
    print(texto[indice])
    indice +=1

O
l
a

1
2
3

_

In [ ]:
texto = "python rules!"
indice = 0
newtext = ""
while (indice < len(texto)):
  newtext += texto[indice]
  indice += 2
print(newtext)

pto ue!

In [ ]:
texto = "Python rules "
indice =0
while (indice <= len(texto)):
  print(texto[indice])
  indice += 1

P
y
t
h
o
n

r
u
l
e
s

IndexError: string index out of range

In [ ]:
num = 0
while (True):
  if (num == 5):
    break
  print(num)
  num +=1

0
1
2
3
4

In [ ]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
numero = ""
for x in range(10):
    numero = numero + str(x)
print (numero)

0123456789

In [ ]:
for x in range(20, 5, -5):
    print(x)

for x in range(5, 20, 5):
    print(x)

20
15
10
5
10
15

In [ ]:
texto = "123T56789"

for x in range(0, len(texto)):
    print(texto[x])

1
2
3
T
5
6
7
8
9

In [ ]:
texto = "Olá eu sou iterável"
for x in texto:
    print(x)

O
l
á

e
u

s
o
u

i
t
e
r
á
v
e
l

In [ ]:
for x in range(0,3):
    for y in range(0,5):
        print(x,y)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4

In [ ]:
for x in range(1,4):
    for y in range(1,11):
        numero = x * y
        print("%d x %d = %d" % (x, y, numero))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
for numero in range(3, 31):
    e_primo = True

    for num_teste in range(2, numero):
        if numero % num_teste == 0:
            e_primo = False
            break

    if e_primo:
        print("O numero %d é primo " % (numero))
    else:
        print("O numero %d não é primo " % (numero))

O numero 3 é primo
O numero 4 não é primo
O numero 5 é primo
O numero 6 não é primo
O numero 7 é primo
O numero 8 não é primo
O numero 9 não é primo
O numero 10 não é primo
O numero 11 é primo
O numero 12 não é primo
O numero 13 é primo
O numero 14 não é primo
O numero 15 não é primo
O numero 16 não é primo
O numero 17 é primo
O numero 18 não é primo
O numero 19 é primo
O numero 20 não é primo
O numero 21 não é primo
O numero 22 não é primo
O numero 23 é primo
O numero 24 não é primo
O numero 25 não é primo
O numero 26 não é primo
O numero 27 não é primo
O numero 28 não é primo
O numero 29 é primo
O numero 30 não é primo