<a href="https://colab.research.google.com/github/mariaaluiza/formacaoPython/blob/main/Se%C3%A7%C3%A3o_7_Orienta%C3%A7%C3%A3o_a_Objetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Teste:
    pass

minha_classe = Teste()
print(type(minha_classe))

<class '__main__.Teste'>

In [ ]:
class NossaClasse:
    def __init__(self):
        print("Construtor chamado")

minha_classe = NossaClasse()
print(type(minha_classe))

Construtor chamado
<class '__main__.NossaClasse'>

In [ ]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        print("Pessoa com nome %s e idade %d" % (nome, idade))

pessoa1 = Pessoa("João", 30)
pessoa2 = Pessoa("Maria", 25)

print(pessoa1.nome, pessoa1.idade)

pessoa1.nome = "Rodrigo"
print(pessoa1.nome)

Pessoa com nome João e idade 30
Pessoa com nome Maria e idade 25
João 30
Rodrigo

In [ ]:
class Pessoa:
    #atributo estatico
    especie = "homo sapiens"
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        print("Pessoa com nome %s e idade %d" % (nome, idade))

pessoa1 = Pessoa("João", 30)
pessoa2 = Pessoa("Maria", 25)

print(pessoa1.especie)
print(pessoa2.especie)

Pessoa.especie = "homo neanderthalensis"

print(pessoa1.especie)
print(pessoa2.especie)

Pessoa com nome João e idade 30
Pessoa com nome Maria e idade 25
homo sapiens
homo sapiens
homo neanderthalensis
homo neanderthalensis

In [ ]:
class Pessoa:
    #atributo estatico
    especie = "homo sapiens"
    numpessoas = 0
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        Pessoa.numpessoas += 1
        print("Pessoa com nome %s e idade %d" % (nome, idade))

pessoa1 = Pessoa("João", 30)
pessoa2 = Pessoa("Maria", 25)
pessoa3 = Pessoa("Jose", 5)

print(Pessoa.numpessoas)

Pessoa com nome João e idade 30
Pessoa com nome Maria e idade 25
Pessoa com nome Jose e idade 5
3

In [ ]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
    def print_nome(self):
        print("Pessoa com nome %s e idade %d" % (self.nome, self.idade))

pessoa2 = Pessoa("Maria", 25)
pessoa3 = Pessoa("Jose", 5)

pessoa2.print_nome()
pessoa3.print_nome()

Pessoa com nome Maria e idade 25
Pessoa com nome Jose e idade 5

In [ ]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade

    def print_string(self, nome):
         print("Pessoa com nome %s e idade %d" % (nome, self.idade))

    def print_nome(self):
        self.print_string(self.nome)

pessoa2 = Pessoa("Maria", 25)
pessoa3 = Pessoa("Jose", 5)

pessoa2.print_nome()
pessoa3.print_nome()

Pessoa com nome Maria e idade 25
Pessoa com nome Jose e idade 5

In [ ]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade

    def insere_idade(self, idade):
        self.idade = idade


pessoa2 = Pessoa("Maria", 25)
pessoa3 = Pessoa("Jose", 5)

pessoa2.insere_idade(20)
print(pessoa2.idade)

20

In [2]:
class Tipo1:
    def __init__(self, outra_classe):
        self.outra = outra_classe

class Tipo2:
    numero = 10

classe2 = Tipo2()
classe1 = Tipo1(classe2)
print(classe1.outra.numero)

10

In [4]:
class Exemplo:
    def __init__(self):
        pass

lista = []

ex1 = Exemplo
ex2 = Exemplo

lista.append(ex1)
lista.append(ex2)

print(lista)

print(lista[1])

[<class '__main__.Exemplo'>, <class '__main__.Exemplo'>]
<class '__main__.Exemplo'>

## Herança
Classe filha herda atributos e métodos da classe pai

In [5]:
class FormaGeometrica:
    def __init__(self, altura, largura):
        self.altura = altura
        self.largura = largura

class Quadrado(FormaGeometrica):
    pass

class Triangulo(FormaGeometrica):
    pass

quad = Quadrado(100,50)
tri = Triangulo(100,50)

print(quad.altura)
print(tri.largura)

100
50

In [7]:
class FormaGeometrica:
    def __init__(self, altura, largura):
        self.altura = altura
        self.largura = largura

    def funcao_herdada(self):
        print("Sou herdado")

class Quadrado(FormaGeometrica):
    lado = 10

class Triangulo(FormaGeometrica):
    angulo = 90

quad = Quadrado(100,50)
tri = Triangulo(100,50)

print(quad.altura)
print(tri.largura)
print(quad.lado)
print(tri.angulo)

tri.funcao_herdada()
tri.funcao_herdada()

100
50
10
90
Sou herdado
Sou herdado

In [9]:
#overrides
class ClassePai():
    def __init__(self):
        print("Sou a classe pai")

class ClasseFilha(ClassePai):
    def __init__(self):
        print("Sou a classe filha")

pai = ClassePai()
classe_filha = ClasseFilha()

Sou a classe pai
Sou a classe filha

In [12]:
class FormaGeometrica:
    def __init__(self, altura, largura):
        self.altura = altura
        self.largura = largura
    def calcula_area(self):
        pass


class Quadrado(FormaGeometrica):
    def calcula_area(self):
        return self.altura * self.largura

class Triangulo(FormaGeometrica):
    def calcula_area(self):
        return (self.altura * self.largura) / 2

quad = Quadrado(200,200)
tri = Triangulo(200,200)

print(quad.calcula_area())
print(tri.calcula_area())

40000
20000.0

In [18]:
class Veiculo:
    def __init__(self, marcha):
        self.marcha = marcha
    def aumenta_marcha(self):
        self.marcha += 1
        self.marcha = min(self.marcha, 5)
    def diminui_marcha(self):
        self.marcha -= 1
        self.marcha = max(self.marcha, 1)

class Palio(Veiculo):
    def __init__(self, marcha):
        Veiculo.__init__(self, marcha)

class EcoSport(Veiculo):
    def __init__(self, marcha):
        Veiculo.__init__(self, marcha)

    def aumenta_marcha(self):
        self.marcha += 1
        self.marcha = min(self.marcha, 6)

carro = Palio(8)
carro.aumenta_marcha()
print(carro.marcha)

carro2 = EcoSport(5)
carro2.aumenta_marcha()
print(carro2.marcha)

5
6

## Herança multipla

In [25]:
class Base1:
    def __init__(self, atributo1):
        self.atributo1 = atributo1
    def base1_print(self):
        print("Base1")

class Base2:
    def __init__(self, atributo2):
        self.atributo2 = atributo2
    def base2_print(self):
        print("Base2")

class Derivada(Base1, Base2):
    def __init__(self):
        Base1.__init__(self, 10)
        Base2.__init__(self, 20)

var = Derivada()

print(var.atributo1)
print(var.atributo2)

var.base1_print()
var.base2_print()

10
20
Base1
Base2

In [29]:
#modificadores de acesso
#__ atributo privado = 2 sobrescritos
class Segredo:
    def __init__(self):
        self.__segredo = "Senha123"

    def __printasegrego(self):
        print(self.__segredo)

    def printasegredo(self):
        self.__printasegrego()

seg = Segredo()
seg.printasegredo()
#print(seg.__segredo)

Senha123

In [ ]:
#funcao property para ler uma variavel protegida ou alterar um valor

class Segredo:
    def __init__(self):
        self.__segredo = "Senha123"

    @property
    def segredo(self):
        print("Tentando ler o segredo")
        return self.__segredo

In [33]:
class Pessoa:
    def __init__(self, nome):
        self.__nome = nome
    def get_nome(self):
        return self.__nome
    def set_nome(self, nome):
        self.__nome = nome

    nome = property(get_nome, set_nome)

pessoa1 = Pessoa("João")
print(pessoa1.nome)
pessoa1.nome = "Rodrigo"
print(pessoa1.nome)

João
Rodrigo

In [35]:
#fset, fget, fdel
class Pessoa:
    def __init__(self, nome):
        self.__nome = nome


    def set_nome(self, nome):
        self.__nome = nome

    nome = property(fset = set_nome)

pessoa1 = Pessoa("João")

pessoa1.nome = "Rodrigo"

In [39]:
class Natural:
    def __init__(self, numero):
        self.__numero = numero
    @property
    def numero(self):
        return self.__numero

    @numero.setter
    def numero(self, numero):
        if numero < 0:
            self.__numero = 0
        else:
            self.__numero = numero
            print("setando numero para ", numero)

natural = Natural(10)
print(natural.numero)
natural.numero = 20
print(natural.numero)
natural.numero = -10
print(natural.numero)

10
setando numero para  20
20
0

In [41]:
class Pessoa:
    def __init__(self, nome):
        self.__nome = nome
    @property
    def nome(self):
        return self.__nome.capitalize()
    @nome.setter
    def nome(self, nome):
        if (len(nome) != 0):
            self.__nome = nome

pessoa = Pessoa("joão")
print(pessoa.nome)
class Pessoa:
    def __init__(self, nome):
        self.__nome = nome
    def get_nome(self):
        return self.__nome
    def set_nome(self, nome):
        self.__nome = nome

    nome = property(get_nome, set_nome)

pessoa1 = Pessoa("João")
print(pessoa1.nome)
pessoa1.nome = "Rodrigo"
print(pessoa1.nome)
pessoa.nome = ""
print(pessoa.nome)

João
João
Rodrigo
João

In [46]:
#metodos estáticos

class MinhaClasse:
    def _init__(self, gasolina):
        pass
    @classmethod
    def metodo_classe(cls):
        print("Sou um metodo de classe")
    @staticmethod
    def metodo_estatico():
        print("Sou um metodo estatico")

MinhaClasse.metodo_classe()
MinhaClasse.metodo_estatico()


testando = MinhaClasse()
testando.metodo_classe()
testando.metodo_estatico()

Sou um metodo de classe
Sou um metodo estatico
Sou um metodo de classe
Sou um metodo estatico

In [50]:
class Veiculo:
    __numero_veiculos = 0

    def __init__(self, nome, gasolina, potencia):
        self.nome = nome
        self.gasolina = gasolina
        self.potencia = potencia
        Veiculo.__numero_veiculos += 1
    @staticmethod
    def get_numero_veiculos():
        return Veiculo.__numero_veiculos

veic1 = Veiculo("carro", "aditivada", 200)
veic2 = Veiculo("caminhao", "aditivada", 1000)

print(Veiculo.get_numero_veiculos())
print(veic1.get_numero_veiculos())
print(veic2.get_numero_veiculos())

2
2
2

Objetos mutáveis são passados por referência, enquanto objetos imutáveis são passados por valor

In [2]:
#objetos primários são por valor
lista1 = 10
lista2 = lista1
lista2 = 20
print(lista1)
print(lista2)

10
20

In [3]:
#lista é por referencia
lista1 = [1,2,3]
lista2 = lista1
lista2.append(4)
print(lista1)
print(lista2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [7]:
#classe é por referencia
class Classe:
    def __init__(self):
        self.atributo = 10

classe1 = Classe()
classe2 = classe1
print(classe2 is classe1)
classe2.atributo = 20
print(classe1.atributo)
print(classe2.atributo)

True
20
20

In [5]:
#cópia é por valor

from copy import copy

lista1 = [1,2,3]
lista2 = copy(lista1)
lista2.append(4)
print(lista1)
print(lista2)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
#copia por valor

from copy import copy

In [8]:
#classe é por referencia
class Classe:
    def __init__(self):
        self.atributo = 10

classe1 = Classe()
classe2 = copy(classe1)
print(classe2 is classe1)

classe2.atributo = 20
print(classe1.atributo)
print(classe2.atributo)

False
10
20

In [9]:
class Teste:
    def __init__(self):
        pass

var1 = Teste()
del var1

In [11]:
class Teste:
    def __init__(self):
        self.lista = [1,2,3]
        print("Objeto criado")
    def __del__(self):
        print("Objeto destruido")

var1 = Teste()
del var1

Objeto criado
Objeto destruido

In [13]:
class Teste:
    def __init__(self, nome):
        self.__nome = nome
        print("Objeto criado")

    def get_nome(self):
        print("Pegando o nome")
        return self.__nome

    def set_nome(self, nome):
        print("Setando o nome")
        self.__nome = nome

    def del_nome(self):
        print("Deletando o nome")
        del self.__nome

    nome = property(get_nome, set_nome, del_nome)

var1 = Teste("João")
print(var1.nome)
var1.nome = "Rodrigo"
del var1.nome

Objeto criado
Pegando o nome
João
Setando o nome
Deletando o nome

In [15]:
class Teste:
    def __init__(self, nome):
        self.__nome = nome
        print("Objeto criado")

    @property
    def nome(self):
        print("Pegando o nome")
        return self

    @nome.deleter
    def nome(self):
        print("Deletando o nome")
        del self.__nome

var1 = Teste("João")
del var1.nome

Objeto criado
Deletando o nome

In [18]:
e_inteiro = isinstance(10, int)
print(e_inteiro)

e_inteiro2 = isinstance(10, (str,float, int))
print(e_inteiro2)

True
True

In [19]:
class Base:
    def __init__(self):
        pass

var = Base()
e_base = isinstance(var, Base)
print(e_base)

True

In [20]:
class Lista():
    def __init__(self):
        pass

    def __enter__(self):
        print("Memoria iniciada")
        self.lista = [i for i in range(0,10)]
        return self.lista

    def __exit__(self, *args, **kwargs):
        print("Memoria finalizada")
        del self.lista

with Lista() as temp_lista:
    for i in temp_lista:
        print(i)

print("Aqui o objeto não existe mais")

Memoria iniciada
0
1
2
3
4
5
6
7
8
9
Memoria finalizada
Aqui o objeto não existe mais

In [21]:
#sobrecarga

class Numero():
    def __init__(self, numero):
        self.numero = numero

    def __add__(self, outro):
        return self.numero + outro.numero

num1 = Numero(10)
num2 = Numero(15)

print(num1+num2)

25

In [23]:
class Numero():
    def __init__(self, numero):
        self.numero = numero

    def __add__(self, outro):
        soma = self.numero + outro.numero
        return Numero(soma)

num1 = Numero(10)
num2 = Numero(15)
num3 = num1 + num2
print(num3.numero)

25

In [25]:
class Numero():
    def __init__(self, numero):
        self.numero = numero

    def __sub__(self, outro):
        return self.numero - outro.numero

num1 = Numero(85)
num2 = Numero(15)

print(num1 - num2)

70