<a href="https://colab.research.google.com/github/mariaaluiza/formacaoPython/blob/main/Se%C3%A7%C3%A3o_6_Fun%C3%A7%C3%A3o_Builtin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#calcular valor absoluto

num1 = -10
num2 = 10

print(abs(num1))
print(abs(num2))
print(abs(num1)+abs(num2))

10
10
20

In [ ]:
varmax = max(10,20,30,40,50)
print(varmax)

50

In [ ]:
lista = [-20, 1, 2.4]
print(max(lista))
print(min(lista))

2.4
-20

In [ ]:
#potenciação

x = 2
y = 3
print(pow(x,y))

8

In [ ]:
#raiz quadrada
import math

print(math.sqrt(9))

3.0

In [ ]:
#arrendodar
print(round(3.1416789, 3))

3.142

In [ ]:
from math import floor, ceil

#arredonda pra baixo
print(floor(2.4568))
#arredonda pra cima
print(ceil(2.4568))

2
3

In [ ]:
print(divmod(10,4)) #retorna uma tupla com a divisão e o resto

(2, 2)

In [ ]:
numero = 70
caractere = chr(numero)
print('O numero %d é mapeado no caractere %s' % (numero, caractere))

O numero 70 é mapeado no caractere F

In [ ]:
for i in range(1,100):
    carac = chr(i)
    print("%d - %s" % (i, carac), end = "\n")

1 - 
2 - 
3 - 
4 - 
5 - 
6 - 
7 - 
8 - 
9 -
10 -

11 -
12 -
13 -
14 - 
15 - 
16 - 
17 - 
18 - 
19 - 
20 - 
21 - 
22 - 
23 - 
24 - 
25 - 
26 - 
27 - 
28 -
29 -
30 -
31 -
32 -
33 - !
34 - "
35 - #
36 - $
37 - %
38 - &
39 - '
40 - (
41 - )
42 - *
43 - +
44 - ,
45 - -
46 - .
47 - /
48 - 0
49 - 1
50 - 2
51 - 3
52 - 4
53 - 5
54 - 6
55 - 7
56 - 8
57 - 9
58 - :
59 - ;
60 - <
61 - =
62 - >
63 - ?
64 - @
65 - A
66 - B
67 - C
68 - D
69 - E
70 - F
71 - G
72 - H
73 - I
74 - J
75 - K
76 - L
77 - M
78 - N
79 - O
80 - P
81 - Q
82 - R
83 - S
84 - T
85 - U
86 - V
87 - W
88 - X
89 - Y
90 - Z
91 - [
92 - \
93 - ]
94 - ^
95 - _
96 - `
97 - a
98 - b
99 - c

In [ ]:
caractere = 'D'
numero = ord(caractere)
print('O caractere %s é mapeado no numero %d' % (caractere, numero))

O caractere D é mapeado no numero 68

In [ ]:
palavra = "M@lu"
for letra in palavra:
    print("%s - %d" % (letra, ord(letra)))

M - 77
@ - 64
l - 108
u - 117

In [ ]:
texto = "ola, tudo bEm?"

print(texto.capitalize())

print(texto.upper())

print(texto.lower())

print(texto.swapcase())

print(texto.title())

Ola, tudo bem?
OLA, TUDO BEM?
ola, tudo bem?
OLA, TUDO BeM?
Ola, Tudo Bem?

In [ ]:
texto = "134565"
print(texto.center(9))
print(texto.center(14))
print(texto.center(14, "-"))
print(texto.rjust(9))
print(texto.ljust(9))

  134565
    134565
----134565----
   134565
134565

In [ ]:
texto = "123451212"
print(texto.count("12"))
print(texto.count("1", 0, 5))
print(texto.startswith("12"))
print(texto.endswith("12"))

3
1
True
True

In [ ]:
texto = "me encontra 10 30 40"
pos = texto.find("10")
print(pos)
pos = texto.find("9")
print(pos)

12
-1

In [ ]:
texto = "me encontra 10 30 40"
pos = texto.index("10")
print(pos)
#gera erro
#pos = texto.index("9")
#print(pos)

12

In [ ]:
texto = "ol@ eu sou @ ful@n@"
novo = texto.replace("@", "a")
print(novo)

ola eu sou a fulana

In [ ]:
texto = "10,20,30"
result = texto.split(",")
print(result)
print(type(result))

['10', '20', '30']
<class 'list'>

In [ ]:
texto = "ola, bom dia\n como vai"
print(texto.splitlines())

['ola, bom dia', ' como vai']

In [ ]:
print("abcdE3".isalpha()) #valida se é alfanumerico

False

In [ ]:
print("abcdE3".isalnum())
print("123.4".isdecimal())
print("1234".isdigit())
print("1234".isnumeric())
print("1234".isspace())
print("   ".isspace())
print("abcdE3".islower())
print("AAA".isupper())

True
False
True
True
False
True
False
True

## Listas

In [ ]:
lista = [5,10,3,28]
lista.sort()
print(lista)
lista.sort(reverse=True)
print(lista)

lista = ["d", "e", "z", "r"]
lista.sort()
print(lista)

[3, 5, 10, 28]
[28, 10, 5, 3]
['d', 'e', 'r', 'z']

In [ ]:
def sort_por_tamanho(item):
    return len(item)

lista = ["ab", "abc", "abcd", "a", "abcde"]
lista.sort(key=sort_por_tamanho)
print(lista)

['a', 'ab', 'abc', 'abcd', 'abcde']

In [ ]:
lista = [10,5,4,6,19]
lista.reverse()
print(lista)

[19, 6, 4, 5, 10]

In [ ]:
produtos = [["carro", "R$ 100.000"], ["cadeira", "R$ 67.000"]]

for produto, valor in produtos:
    print(produto, valor)

carro R$ 100.000
cadeira R$ 67.000

In [ ]:
nomes = ("Jose", "Carlos","Joao")
dicionario = dict.fromkeys(nomes, 10)
print(dicionario)

{'Jose': 10, 'Carlos': 10, 'Joao': 10}

In [ ]:
from math import floor, ceil
x = 2.00001
print(floor(x))
print(ceil(x))

2
3

In [ ]:
num = -10
print(abs(num) + abs(num))

20

## Data e Hora

In [ ]:
import datetime

datacompleta = datetime.datetime.now()
print(datacompleta)

data = datacompleta.date()
hora = datacompleta.time()
print(data)
print(hora)

#data ou datacompleta
print("Dia ", data.day)
print("Mes ", data.month)
print("Ano ", data.year)

#hora ou datacompleta
print("Hora ", hora.hour)
print("Minuto ", hora.minute)
print("Segundo ", hora.second)

2025-07-23 23:51:29.672944
2025-07-23
23:51:29.672944
Dia  23
Mes  7
Ano  2025
Hora  23
Minuto  51
Segundo  29

In [ ]:
import datetime

data = datetime.datetime(2000,9,30,10,34)
print(data)

data = datetime.date(day = 30, month=9, year=2000)
print(data)

2000-09-30 10:34:00
2000-09-30

In [ ]:
# Y ano 4 casas, y ano 2 casas, m mês, d dia, H hora, M minuto, S segundo
# A dia da semana
# a dia da semana abrev.
# B nome do mês
# b nome do mês abrev.
# I hora no formato de 12 horas
# p Am/PM

import datetime

data = datetime.datetime.now()
currenttime = data.strftime("%d/%m/%Y %H:%M:%S")
print(currenttime)

currenttime = data.strftime("%d/%m/%y %H:%M:%S")
print(currenttime)

currenttime = data.strftime("%A %B %Y %I:%M:%S %p")
print(currenttime)

diasemana = data.strftime("%A")
print(diasemana)

24/07/2025 00:01:21
24/07/25 00:01:21
Thursday July 2025 12:01:21 AM
Thursday

In [ ]:
import datetime

data1 = datetime.datetime(2000,9,30,10,34)
data2 = datetime.datetime.now()
diferenca = data2 - data1
print(diferenca)
print(type(diferenca))

9062 days, 13:29:58.317027
<class 'datetime.timedelta'>

In [ ]:
from datetime import datetime, timedelta

dataatual = datetime.now()
print(dataatual)
datafutura1 = dataatual + timedelta(days=30)
print(datafutura1)
datafutura2 = dataatual + timedelta(weeks=2)
print(datafutura2)
datafutura3 = dataatual + timedelta(hours=10)
print(datafutura3)
datafutura4 = dataatual + timedelta(minutes=40)
print(datafutura4)

2025-07-24 00:06:03.035798
2025-08-23 00:06:03.035798
2025-08-07 00:06:03.035798
2025-07-24 10:06:03.035798
2025-07-24 00:46:03.035798

In [ ]:
import datetime
datatext = input("Digite a data no formato dia/mes/ano: ")
datetime = datetime.datetime.strptime(datatext, "%d/%m/%Y")
print(datetime)

Digite a data no formato dia/mes/ano: 02/07/2025
2025-07-02 00:00:00