<a href="https://colab.research.google.com/github/mariaaluiza/formacaoPython/blob/main/Se%C3%A7%C3%A3o_5_Fun%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Funções

In [ ]:
def func():
    num = 10
    print("Uma função %d " % (num))

func()
func()

Uma função 10
Uma função 10

In [ ]:
def func():
    pass

func()

In [ ]:
def printvar(numero):
    print(numero)

printvar(10)
printvar("Olá")

10
Olá

In [ ]:
def print_soma(num1, num2):
    print(num1 + num2)

print_soma(10, 20)
print_soma("Olá", "Mundo")

30
OláMundo

In [ ]:
#numero arbitrários de parametros representado pelo *, em formato de tupla
def funcvarios(*args):
    print(type(args))
    print("Argumentos são: ", args)

funcvarios(10, 20, 30)
funcvarios("Olá", "Mundo")
funcvarios("Ola", True, [1,2,3])

<class 'tuple'>
Argumentos são:  (10, 20, 30)
<class 'tuple'>
Argumentos são:  ('Olá', 'Mundo')
<class 'tuple'>
Argumentos são:  ('Ola', True, [1, 2, 3])

In [ ]:
def print_sub(n1, n2):
    print(n1 - n2)

print_sub(n2=10, n1=20)

10

In [ ]:
def func(*n, outro):
    print("Argumentos são: ", n)
    print("Outro: ",outro)

func(1,2,3, outro = "Não")
func(outro = 78.7)
func("Olá", True, [1,2,3], outro="58")

Argumentos são:  (1, 2, 3)
Outro:  Não
Argumentos são:  ()
Outro:  78.7
Argumentos são:  ('Olá', True, [1, 2, 3])
Outro:  58

In [ ]:
def func1(valor, nome = "Teste"):
    print(nome, valor)

func1(10)
func1(3, "Outro")

Teste 10
Outro 3

In [ ]:
#parametros com nome e tamanho arbitrários **
def func(**args):
    print(type(args))
    print(args)
    print(args["Valor"])

func(Valor = 10, operacao = "Soma", resultado = 10)

<class 'dict'>
{'Valor': 10, 'operacao': 'Soma', 'resultado': 10}
10

In [ ]:
def printa(x):
    print(x)

def executa_funcao(func, x):
    func(x)

minha_func = printa
print(type(minha_func))

executa_funcao(minha_func, 10)

<class 'function'>
10

In [ ]:
def sub(num1, num2):
    valor = num1 - num2
    return valor

resultado = sub(10, 20)
print(resultado)

-10

In [ ]:
#retornar mais de um valor

def retorna():
    return 1, 2, 3

a, b, c = retorna()
print(a, b, c)

valor = retorna()
print(type(valor))

1 2 3
<class 'tuple'>

## Função lambda

In [ ]:
faz_soma = lambda x: x+10

valor = faz_soma(2)
print(valor)

12

In [ ]:
multiplica = lambda x,y: x*y
print(multiplica(12,10))

120

In [ ]:
#retorno da função sendo uma função lambda

def multiplica(y):
    return lambda x: x*y

valor = multiplica(2)

resultado = valor(10)

print(resultado)

20

## Função recursiva

In [ ]:
def printnum(num):
    print(num)
    if num >=10:
        return
    printnum(num+1)

printnum(0)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
def printstr(texto, indice):
    if indice == len(texto):
        return
    print(texto[indice])
    printstr(texto, indice+1)

printstr("Python", 0)

P
y
t
h
o
n

## Funções aninhadas

In [ ]:
def pega_func_print():
    def print_var(var):
        print(var)
    return

print_me = pega_func_print()
print_me(10)
print(type(print_me))

<class 'NoneType'>

## Decorators

In [ ]:
def DeixaMaiusculo(func):
    def inner_func():
        return func().upper()
    return inner_func

@DeixaMaiusculo
def retorna_string():
    return "string de teste"

valor = retorna_string()
print(valor)

STRING DE TESTE

In [ ]:
def DeixaMaiusculo(func):
    def inner_func(str1, str2):
        return func(str1, str2).upper()
    return inner_func

@DeixaMaiusculo
def retorna_string(str1, str2):
    return str1+str2

valor = retorna_string("Olá", "Mundo")
print(valor)

OLÁMUNDO

In [ ]:
def DeixaMaiusculo(func):
    def inner_func(str1):
        return func(str1).upper()
    return inner_func

def InsereParenteses(func):
    def inner_func(str1):
        return '('+func(str1)+')'
    return inner_func

@DeixaMaiusculo
@InsereParenteses
def retorna_string(str1):
    return str1

valor = retorna_string("Olá")
print(valor)

(OLÁ)

## Escopo da variável

In [ ]:
var2 = 10

def func():
    var2 = 20
    print(var2)

func()
print(var2)

20
10

In [ ]:
var1 = 10

def func():
    global var1
    var1 = 20

func()
print(var1)

20

In [ ]:
def func_pai():
    pai = 10
    def func_filho():
        nonlocal pai
        pai = 20
        print(pai)
    func_filho()
    print(pai)

func_pai()

20
20

In [ ]:
var = 20
print(var)
del(var)
print(var)

20

NameError: name 'var' is not defined

In [ ]:
array = [1,2,3]
del array[0]
print(array)

[2, 3]

In [ ]:
array = [1,2,3]
del array[:2]
print(array)

[3]

In [ ]:
def retorna_multiplo(a,b,c):
  a *= a
  b *= b
  c *= c
  return a,b,c


_,a,_ = retorna_multiplo(1,2,3)
print(a)

4