<a href="https://colab.research.google.com/github/mariaaluiza/formacaoPython/blob/main/Se%C3%A7%C3%A3o_4_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Listas

In [ ]:
#objeto do tipo lista vazio
array = []
array = list()

array_numeros = [1,2,3,4,5,6,7,8,9]
print(array_numeros)
print(type(array_numeros))

arrat_floats = [34.7, 87.5, 77.7]
array_string = ["A", "B", "C"]
array_misto = [2, 2.3, "ABC"]
print(arrat_floats)
print(array_string)
print(array_misto)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
[34.7, 87.5, 77.7]
['A', 'B', 'C']
[2, 2.3, 'ABC']

In [ ]:
array = list([1,2,3,4])
print(array)
primeiro_elemento = array[0]
print(primeiro_elemento)
array[0] = 5
print(array)
print(array[-1])

[1, 2, 3, 4]
1
[5, 2, 3, 4]
4

In [ ]:
array = [1, "txt", 3]
print(array[1:3])

['txt', 3]

In [ ]:
array = [10, 2, 3]
print(array)
array.append(7)
print(array)
array.insert(2, "4")
print(array)

x = 0
for x in array:
    print(x)

[10, 2, 3]
[10, 2, 3, 7]
[10, 2, '4', 3, 7]
10
2
4
3
7

In [ ]:
array = [10, 2, 3]
print(array)

#remove o valor se encontrar
array.remove(10)
print(array)

#remover pelo índice
array.pop(1)
print(array)

[10, 2, 3]
[2, 3]
[2]

In [ ]:
#tamanho do array
print(len(array))

1

In [ ]:
#limpar os elementos do array
array.clear()
print(array)

[]

In [ ]:
array = [1, 'tes', True]

print(1 in array)
print(False not in array)

True
True

In [ ]:
#se o objeto está na lista
lista = [5,6,7,2,3,4,7]
teste = lista.count(7)
print(teste)

2

In [ ]:
#saber o indice do objeto na lista
lista = [5,6,7,2,3,4,7]
pos = lista.index(7)
print(pos)

2

In [ ]:
#concatenar
array1 = [1,2,3]
array2 = [3,4,5]
soma = array1 + array2
print(soma)

multiplica = array1 * 3
print(multiplica)

[1, 2, 3, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:

#desempacotar o array
numeros = ["um", "dois", "tres"]
x, y, z = numeros
print(x)
print(y)
print(z)

x, y, _ = numeros
print(x)
print(y)

um
dois
tres
um
dois

In [ ]:
cores = ["azul", "preto", "amarelo"]
for x in cores:
    print(x)

azul
preto
amarelo

In [ ]:
cores = ["azul", "preto", "amarelo"]
for i in range(0, len(cores)):
    print(cores[i])

azul
preto
amarelo

In [ ]:
cores = ["azul", "preto", "amarelo"]
indice = 0
while (indice < len(cores)):
    print(cores[indice])
    indice += 1

azul
preto
amarelo

In [ ]:
lista = [[1,2,3],[4,5,6]]

print(lista[0])
print(lista[1])

print(lista[0][0])
print(lista[1][2])

[1, 2, 3]
[4, 5, 6]
1
6

## Set

In [ ]:
lista_set1 = {}
lista_set2 = {1,2,3}
lista_set3 = set({1,2,3})
print(lista_set1)
print(lista_set2)
print(lista_set3)

{}
{1, 2, 3}
{1, 2, 3}

In [ ]:
#não pode modificar valor e não acessa pelo indice e não permite duplicidade
lista_set2 = {1,2,3}
lista_set2[0]
lista_set2[0] = 2
lista_set3 = {1,2,3, 2,3}

In [ ]:
lista_set2 = {1,2,3}

#adiciona um item novo
lista_set2.add(4)
print(lista_set2)

#remove pelo valor
lista_set2.remove(2)
print(lista_set2)

lista_set3 = {1,2,3}
lista_set3.clear()
print(lista_set3)

lista_set4 = {1,2,3,4,5,5,5,5,5,5,5,5}
print(len(lista_set4))


print(1 in lista_set4)
print(2 not in lista_set4)

{1, 2, 3, 4}
{1, 3, 4}
set()
5
True
False

In [ ]:
lista_set3 = {1,"abc",False}

for x in lista_set3:
    print(x)

False
1
abc

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}

set = set1.union(set2)
print(set)

set_intersec = set1.intersection(set2)
print(set_intersec)

set_diferenca = set2.difference(set1)
print(set_diferenca)

{1, 2, 3, 4}
{1, 2, 3}
{4}

## Tuplas
### é imutável

In [4]:
doces = tuple(("chocolate", "bombom", "paçoca"))
outra = ("chocolate", "bombom", "paçoca")
print(doces)
print(outra)
print(type(doces))
print(type(outra))

('chocolate', 'bombom', 'paçoca')
('chocolate', 'bombom', 'paçoca')
<class 'tuple'>
<class 'tuple'>

In [7]:
nums = ('1', '2', '3')
print(nums)
print(nums[1])
print(len(nums))

('1', '2', '3')
2
3

In [8]:
nums = (1,2,3,4,5,6)
print(4 in nums)

True

In [9]:
nums = (1,2,3,4,5,6,4,5,6,7,8)
print(nums.count(4))

2

In [13]:
tupla = (5, '3', 5465)
pos = tupla.index(5465)
print(pos)

for i in range(0, len(tupla)):
    print(tupla[i])

indice = 0
while (indice < len(tupla)):
    print(tupla[indice])
    indice += 1

2
5
3
5465
5
3
5465

In [14]:
numeros_set = (1,2,3)
numeros_lista = list(numeros_set)
numeros_lista.append(4)
numeros_lista[0] = "Fim"
numeros_set = tuple(numeros_lista)
print(numeros_lista)

['Fim', 2, 3, 4]

## Dictionary

O indice é definido junto com o valor

In [22]:
idades = {'ana': 10, 'maria': 20, 'joão': 34, 'fernando':'indefinido'}
print(idades)
print(type(idades))

print(idades['maria'])

print(idades.get('fernando'))

{'ana': 10, 'maria': 20, 'joão': 34, 'fernando': 'indefinido'}
<class 'dict'>
20
indefinido

In [19]:
nome_numeros = { 7.1: "sete virgula um", 9.8: "nove virgula oito"}
print(nome_numeros)

{7.1: 'sete virgula um', 9.8: 'nove virgula oito'}

In [1]:
idades = {'ana': 10, 'maria': 20, 'joão': 34, 'fernando':'indefinido'}
idades['maria'] = 30
idades.update({'fernando': 20})
print(idades)

{'ana': 10, 'maria': 30, 'joão': 34, 'fernando': 20}

In [3]:
idades = {'ana': 10, 'maria': 20, 'joão': 34, 'fernando':'indefinido'}
idades['marcos'] = 45
print(idades)
idades.pop('ana')
print(idades)
#popitem deleta o último
idades.popitem()
print(idades)

{'ana': 10, 'maria': 20, 'joão': 34, 'fernando': 'indefinido', 'marcos': 45}
{'maria': 20, 'joão': 34, 'fernando': 'indefinido', 'marcos': 45}
{'maria': 20, 'joão': 34, 'fernando': 'indefinido'}

In [6]:
idades = {'ana': 10, 'maria': 20, 'joão': 34, 'fernando':'indefinido'}
lista = idades.items()
print(lista, end='\n\n')
for item in lista:
    print(item[0], item[1])

dict_items([('ana', 10), ('maria', 20), ('joão', 34), ('fernando', 'indefinido')])

ana 10
maria 20
joão 34
fernando indefinido

In [8]:
idades = {'ana': 10, 'maria': 20, 'joão': 34, 'fernando':'indefinido'}
chaves = idades.keys()
valores = idades.values()
for item in chaves:
    print(item)
print('-----')
for item in valores:
    print(item)

ana
maria
joão
fernando
-----
10
20
34
indefinido

In [1]:
idades = {'ana': 10, 'maria': 20, 'joão': 34, 'fernando':20}
lista_nome = list(idades.values())
pessoas20 = lista_nome.count(20)
print(pessoas20)

2

In [2]:
idades = {'ana': 10, 'maria': 20, 'joão': 34, 'fernando':20}

idades.clear()
print(idades)

{}

In [4]:
dados_maria = {
    'sexo': 'F',
    'cpf': 321654987545,
    'rg': 12123456
}
dados_joao = {
    'sexo': 'M',
    'cpf': 898798654,
    'rg': 23456
}
dados_ana = {
    'sexo': 'F',
    'cpf': 87555541555,
    'rg': 3456
}

dados_por_nome ={
    'Maria': dados_maria,
    'João': dados_joao,
    'Ana': dados_ana
}

print(dados_por_nome)
print(dados_por_nome['Maria'])
print(dados_por_nome['Maria']['cpf'])

{'Maria': {'sexo': 'F', 'cpf': 321654987545, 'rg': 12123456}, 'João': {'sexo': 'M', 'cpf': 898798654, 'rg': 23456}, 'Ana': {'sexo': 'F', 'cpf': 87555541555, 'rg': 3456}}
{'sexo': 'F', 'cpf': 321654987545, 'rg': 12123456}
321654987545

## List Comprehensions

In [5]:
lista = [x for x in range(10)]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
lista2 = ['1','zero', 'quatro']
lista2 = [x for x in lista2]
print(lista2)

['1', 'zero', 'quatro']

In [10]:
lista3 = [x for x in range(1,11) if x % 2 == 0]
print(lista3)

[2, 4, 6, 8, 10]

In [12]:
lista_aux = [1,5,9]
lista = [x for x in range(1,11) if x not in lista_aux]
print(lista)

[2, 3, 4, 6, 7, 8, 10]

In [20]:
lista.clear()
lista = [x for x in range(-10,20) if x <= 10 if x >= 0]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
lista.clear()
lista = [x*2 for x in range(0,11)]
print(lista)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
lista.clear()
lista = [str(x) for x in range(0,21)]
print(lista)

lista.clear()
lista = [str(x)[0] for x in range(0,21)]
print(lista)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2']

In [24]:
lista.clear()
lista = [ 'negativo' if x < 0 else 'positivo' for x in range(-3, 4)]
print(lista)

['negativo', 'negativo', 'negativo', 'positivo', 'positivo', 'positivo', 'positivo']

In [26]:
lista = [ str(x) + ' par' if x%2 == 0 else str(x)+' ímpar' for x in range(2,11)]
print(lista)

['2 par', '3 ímpar', '4 par', '5 ímpar', '6 par', '7 ímpar', '8 par', '9 ímpar', '10 par']

In [1]:
#função lambda para fazer um filtro
lista = [1,2,3,4,5,6,7,8,9]
lista = list(filter(lambda x: x%2 == 0, lista))
print(lista)

[2, 4, 6, 8]

In [3]:
lista = [x for x in range(1,5)]
print(lista)

lista = [ [x for x in range(1,5)] for y in range(1,5) ]
print(lista)

[1, 2, 3, 4]
[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [5]:
lista = [ [str(x) + str(y) for x in range(1,5)] for y in range(1,5) ]
lista

[['11', '21', '31', '41'],
 ['12', '22', '32', '42'],
 ['13', '23', '33', '43'],
 ['14', '24', '34', '44']]

In [10]:
#tabuada da multiplicação

[[str(x) + '*' + str(y) +'='+ str(x*y) for x in range(1,8)] for y in range(1,11)]

[['1*1=1', '2*1=2', '3*1=3', '4*1=4', '5*1=5', '6*1=6', '7*1=7'],
 ['1*2=2', '2*2=4', '3*2=6', '4*2=8', '5*2=10', '6*2=12', '7*2=14'],
 ['1*3=3', '2*3=6', '3*3=9', '4*3=12', '5*3=15', '6*3=18', '7*3=21'],
 ['1*4=4', '2*4=8', '3*4=12', '4*4=16', '5*4=20', '6*4=24', '7*4=28'],
 ['1*5=5', '2*5=10', '3*5=15', '4*5=20', '5*5=25', '6*5=30', '7*5=35'],
 ['1*6=6', '2*6=12', '3*6=18', '4*6=24', '5*6=30', '6*6=36', '7*6=42'],
 ['1*7=7', '2*7=14', '3*7=21', '4*7=28', '5*7=35', '6*7=42', '7*7=49'],
 ['1*8=8', '2*8=16', '3*8=24', '4*8=32', '5*8=40', '6*8=48', '7*8=56'],
 ['1*9=9', '2*9=18', '3*9=27', '4*9=36', '5*9=45', '6*9=54', '7*9=63'],
 ['1*10=10', '2*10=20', '3*10=30', '4*10=40', '5*10=50', '6*10=60', '7*10=70']]

## Exercícios

In [40]:
#1

soma = 0
lista = [1,10,6,7,8,10]
for x in lista:
    soma += x
print('A soma da lista é ',str(soma))

A soma da lista é  42

In [20]:
#2

lista = []
for x in range(1, 101):
    lista.append(x)
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [28]:
#3

lista1 = {30,4,43,52,65,-10}
lista2 = {43,2,4,76,65,3}

lista_union = lista2.union(lista1)
print(lista_union)

{65, 2, 3, 4, 43, 76, 52, -10, 30}

In [42]:
#4

dic_meses = {1: "Janeiro",
    2: "Fevereiro",
    3 : "Março",
    4 : "Abril",
    5 : "Maio",
    6 : "Junho",
    7 : "Julho",
    8 : "Agosto",
    9 : "Setembro",
    10 : "Outubro",
    11 : "Novembro",
    12 : "Dezembro"
}

mesnasc = int(input("Digite o mês de nascimento: "))
print(dic_meses[mesnasc])


#outra forma
meses = ("janeiro", "fevereiro", "março", "abril", "maio", "junho", "julho", "agosto", "setembro", "outubro", "novembro", "dezembro")
mesnascido = int(input("Digite o mês de nascimento: "))
print("Você nasceu em %s " % (meses[mesnascido-1]))

Digite o mês de nascimento: 07
Julho
Digite o mês de nascimento: 07
Você nasceu em julho

In [39]:
#5

lista = []
for x in range(1, 32):
    lista.append(x)
print(lista)
dia = input("Digite o dia do nascimento: ")
lista.remove(int(dia))
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
Digite o dia do nascimento: 02
[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [51]:
#6
dicobj = {"vassoura": "limpar a casa", "caneta": "escrever", "celular":"fazer ligação"}
obj = input("Digite um objeto: ")

if obj not in dicobj :
    print("Objeto selecionado não existe")
else:
    print("Função do objeto %s: " %obj, dicobj[obj])

Digite um objeto: caneta
Função do objeto caneta:  escrever

In [54]:
#7
listcomp1 = [x for x in range(-30,-19)]
print(listcomp1)

[-30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20]

In [56]:
#8
listcomp2 = [x for x in range(4, 101) if x % 4 == 0]
print(listcomp2)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

In [63]:
#9
listcomp3 = [x for x in range(0, 101)]
print(listcomp3)

lista = list(filter(lambda x: x % 10 == 0, listcomp3))
print(lista)

#outra forma

lista9 = [x for x in range(0, 101) if str(x)[-1] == '0']
print(lista9)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [64]:
#10
array = [x for x in range(0,21)]
print(array)

lista = [ '0' if x%2 == 0 else '-' for x in range(0,21)]
print(lista)

#outra forma
lista10 = ['0' if str(x)[-1] == '0' else '-' for x in range(0,21)]
print(lista10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
['0', '-', '0', '-', '0', '-', '0', '-', '0', '-', '0', '-', '0', '-', '0', '-', '0', '-', '0', '-', '0']
['0', '-', '-', '-', '-', '-', '-', '-', '-', '-', '0', '-', '-', '-', '-', '-', '-', '-', '-', '-', '0']

In [65]:
vals = {1,4,5,2,1,4}
print(vals)

{1, 2, 4, 5}